body {
  background-color: #dff2ff;
}

.App {
  text-align: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  font-family: cursive;
}

.App-logo {
  height: 200px;
}

header h1 {
  font-size: 70px;
  position: relative;
  top: 50px;
  left: 20px;
  text-align: left;
}

footer {
  margin: 10px 0;
  opacity: 0.9;
  font-size: 12px;
}
