body {
  background-color: #d5eeff;
}

.App {
  text-align: center;
}

.container {
  border: 1px solid black;
  max-width: 80%;
  font-family: cursive;
  background-color: #fff;
  margin-top: 20px;
  border-radius: 20px;
}

.App-logo {
  height: 180px;
  position: relative;
}

h1 {
  line-height: 64px;
  font-size: 66px;
}

footer {
  margin-top: 10px;
  opacity: 0.9;
  font-size: 12px;
}
