.Dictionary h1 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.Dictionary section {
  background: #fff;
  padding: 30px;
  border: 1px solid rgb(167, 166, 166);
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
  margin-bottom: 30px;
}

.Dictionary input {
  width: 100%;
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  text-align: center;
}

.Dictionary .Hint {
  font-size: 12px;
  margin-top: 15px;
}
