.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

h3::first-letter {
  text-transform: capitalize;
}

.Meaning .example {
  font-family: "Style Script", cursive;
  font-size: 26px;
  line-height: 2;
  opacity: 0.8;
  margin-top: 10px;
}

.example::first-letter {
  text-transform: capitalize;
}

.definition::first-letter {
  text-transform: capitalize;
}
